@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: monsterrat;
  background-image: url('website\ background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 10px;
  font-size: 20px;
}
.img{
    height: 50px;
    width: 50px;
    margin:  20px 400px;
}
h{
    margin:  400px 600px;
}
.p2{
    margin: 600px;
}
.p4{
    margin: 300px;
    /* margin: 100px; */
}
.p5{
    margin: 500px;
}

@media screen and (max-width: 970px) {
    
body{
    font-family: monsterrat;
    background-image: url('website\ background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
    color: white;
    margin: 15px;
    font-size: 10px;
  }
h{
        font-size: 15px;
        margin: 100px;
}
    .p4{
        font-size: 10px;
        margin: 100px;
    }
    .p5{
        margin: 500px;
    }
}
